.pub-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.pub-horizontal-div {
      width: 80%;
      height: 3px;
      background: #009D91;
      border-radius: 10px;
  }
.pub-vertical-div {
    width: 3px;
    height: 100%;
    background-color: #009D91;
}

.pub-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: #009D91;
    margin-bottom: 10px;
}
.pub-title-mini {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #009D91;
}

.pub-link-text {
    text-decoration: none;
    color: #009D91;
}
.pub-activity-div-left {
    min-height: 50px;
    width: 40%;
}
.pub-activity-div-right {
    margin-left: 2%;
    min-height: 50px;
    width: 58%;
}


.pub-activity-div  {  
    border-radius: 10px;
    background: #00665E;
    height: 30px;
    margin-left: 10px;
}
.pub-activity-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #009D91;
    margin: 0;
}
.pub-activity-margin {
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 2px;
}
.pub-div-orgs-top {
    width: 98%;
    font-size: 15px ;
    line-height: 22px;
  }
.pub-div-keywords-top {
    margin-left: 2%;
    font-size: 15px;
    line-height: 22px;
}
.accentText {
  color: red;
  font-weight: normal;
}